bintrees==2.0.7
certifi==2018.4.16
DateTime==4.2
gdax==1.0.6
numpy==1.14.3
pandas==0.23.0
Pillow==5.1.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.13.0
six==1.10.0
torch==0.4.0
torchvision==0.2.1
tqdm==4.23.4
websocket-client==0.40.0
zope.interface==4.5.0
